<!DOCTYPE html>
<html>
	<head>
		<!--<link href="/assets/styles.css" rel="stylesheet" type="text/css" />-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/assets/codemirror/lib/codemirror.css">
		<script type="text/javascript" src="/assets/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="/assets/codemirror/mode/javascript/javascript.js"></script>
		<script type="text/javascript" src="/assets/cm.js"></script>
	</head>
	<body>
		<h1> Home</h1>
		<p> Paragraph Text </p>
	</body>
</html>
